---
http_interactions:
- request:
    method: post
    uri: https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID/apps/SAMPLE_APP_ID/subscriptions
    body:
      encoding: UTF-8
      string: '{"plan":"default","product":{"id":"PRODUCT_ID"}}'
    headers:
      Authorization:
      - Basic U0FNUExFX1VTRVJOQU1FOlNBTVBMRV9QQVNTV09SRA==
      X-Ibm-Apimanagement-Context:
      - bci-api-developers-sandbox-desarrollo.local-registry
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Location:
      - https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID/apps/SAMPLE_APP_ID/subscriptions/5a1572c20cf2cc309753026a
      Content-Type:
      - application/json
      X-Apim:
      - 169.55.21.17
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5a1572c20cf2cc309753026a","app":{"id":"SAMPLE_APP_ID","name":"Demo"},"product":{"id":"PRODUCT_ID","name":"credito-consumo","version":"1.0.2"},"plan":"default","approved":true,"createdAt":"2017-11-22T12:51:14.455+0000","updatedAt":"2017-11-22T12:51:14.455+0000","url":"https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID/apps/SAMPLE_APP_ID/subscriptions/5a1572c20cf2cc309753026a"}'
  recorded_at: Wed, 22 Nov 2017 12:51:20 GMT
recorded_with: VCR 3.0.3
