---
http_interactions:
- request:
    method: put
    uri: https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID/apps/SAMPLE_APP_ID/credentials
    body:
      encoding: UTF-8
      string: '{"clientID":"NEW_CLIENT_ID","clientSecret":"NEW_CLIENT_SECRET","description":"App
        with new credentials"}'
    headers:
      Authorization:
      - Basic U0FNUExFX1VTRVJOQU1FOlNBTVBMRV9QQVNTV09SRA==
      X-Ibm-Apimanagement-Context:
      - bci-api-developers-sandbox-desarrollo.local-registry
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID/apps/SAMPLE_APP_ID/credentials
      Content-Type:
      - application/json
      X-Apim:
      - 169.44.56.104
    body:
      encoding: ASCII-8BIT
      string: '{"clientID":"NEW_CLIENT_ID","clientSecret":"*******************************************","description":"App
        with new credentials","url":"https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID/apps/SAMPLE_APP_ID/credentials"}'
  recorded_at: Tue, 21 Nov 2017 20:09:36 GMT
recorded_with: VCR 3.0.3
