---
http_interactions:
- request:
    method: get
    uri: https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic U0FNUExFX1VTRVJOQU1FOlNBTVBMRV9QQVNTV09SRA==
      X-Ibm-Apimanagement-Context:
      - bci-api-developers-sandbox-desarrollo.local-registry
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apim:
      - 169.55.21.17
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"PRODUCTION","promoteTo":null,"id":"5a0209aa0cf2b9aa64c1f8f9","name":"DemoApp","orgID":"SAMPLE_ORG_ID","public":false,"description":"Eso
        eso","credentials":{"clientID":"dbd048ab-7acc-4d4d-b0b9-101f04c3ea0f","clientSecret":"********************************************","description":"Default","url":"https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID/apps/5a0209aa0cf2b9aa64c1f8f9/credentials"},"appCredentials":[{"id":"5a0209ab0cf2b9aa64c1f8fa","description":"Default","url":"https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID/apps/5a0209aa0cf2b9aa64c1f8f9/credentials/5a0209ab0cf2b9aa64c1f8fa","clientID":"dbd048ab-7acc-4d4d-b0b9-101f04c3ea0f","clientSecret":"********************************************"}],"enabled":true,"state":"ACTIVE","imageURL":null,"appImageURL":"","oauthRedirectURI":"http://asd.cl","certificate":null,"createdAt":"2017-11-07T19:29:47.347+0000","updatedAt":"2017-11-07T19:29:47.347+0000","url":"https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID/apps/5a0209aa0cf2b9aa64c1f8f9"},{"type":"PRODUCTION","promoteTo":null,"id":"5a12f0510cf26485445ec451","name":"DemoApp2","orgID":"SAMPLE_ORG_ID","public":false,"description":"Eso
        eso","credentials":{"clientID":"7d38dac3-6a92-4796-8103-5505ce85a7df","clientSecret":null,"description":"Default","url":"https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID/apps/5a12f0510cf26485445ec4[...]
