---
http_interactions:
- request:
    method: get
    uri: https://us.apiconnect.ibmcloud.com/v1/portal/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bXltYWlsQGRvbWFpbi5jb206TFlWZWpDbVc3YWJGekE9PQ==
      X-Ibm-Apimanagement-Context:
      - BLUEMIX_CONTEXT
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apim:
      - 169.53.32.134
    body:
      encoding: ASCII-8BIT
      string: '[{"roles":["5aa93baa0cf22d60c157bdac"],"id":"5aa93baa0cf22d60c157bdab","name":"mymail@domain.com","url":"https://us.apiconnect.ibmcloud.com/v1/portal/orgs/5aa93baa0cf22d60c157bdab","owner":true}]'
  recorded_at: Wed, 14 Mar 2018 20:49:04 GMT
recorded_with: VCR 4.0.0
