---
http_interactions:
- request:
    method: post
    uri: https://us.apiconnect.ibmcloud.com/v1/portal/users/register
    body:
      encoding: UTF-8
      string: '{"firstName":"Test","lastName":"Ter","organization":"tester","password":"Asd123%","username":"tester@test.com"}'
    headers:
      X-Ibm-Apimanagement-Context:
      - bci-api-developers-sandbox-desarrollo.local-registry
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Location:
      - https://us.apiconnect.ibmcloud.com/v1/portal/users/USER_ID
      Content-Type:
      - application/json
      X-Apim:
      - 169.46.136.212
    body:
      encoding: ASCII-8BIT
      string: '{"organization":{"id":"USER_ID","name":"tester","url":"https://us.apiconnect.ibmcloud.com/v1/portal/orgs/SAMPLE_ORG_ID"},"id":"USER_ID","name":"tester@test.com","email":"tester@test.com","firstName":"Test","lastName":"Ter","lastLoginTime":null,"status":"pending","additionalFields":null,"url":"https://us.apiconnect.ibmcloud.com/v1/portal/users/USER_ID"}'
  recorded_at: Wed, 15 Nov 2017 13:33:41 GMT
recorded_with: VCR 3.0.3
