---
http_interactions:
- request:
    method: get
    uri: https://us.apiconnect.ibmcloud.com/v1/portal/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bXltYWlsQGRvbWFpbi5jb206TFlWZWpDbVc3YWJGekE9PQ==
      X-Ibm-Apimanagement-Context:
      - BLUEMIX_CONTEXT
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apim:
      - 169.53.32.134
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5aa93ba80cf22d60c157bdaa","name":"mymail@domain.com","email":null,"firstName":"","lastName":"","lastLoginTime":null,"status":"active","additionalFields":null,"url":"https://us.apiconnect.ibmcloud.com/v1/portal/users/5aa93ba80cf22d60c157bdaa"}'
  recorded_at: Wed, 14 Mar 2018 20:23:45 GMT
recorded_with: VCR 4.0.0
